<footer id="footer">
  <section class="footer-top">
    <div class="container-fluid container-wide">

      <div class="row">
        <div class="col-lg-12 pb-3">
          <a routerLink="/" class="footer-logo">
            <img src="/assets/images/CryptoSplicerLogoWhiteColor.png" class="footer-logo-img" alt="NotesGenie">
          </a>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="footer-widget">
            <h3>What is CryptoSplicer?</h3>
            <p>
              CryptoSplicer is a Deep Learning Artificial Intelligence (AI) platform engineered from the grounds up with a singular goal - Help Organizations and People gain AI-Driven Insights into the Crypto Markets. With a bleeding edge AI, CryptoSplicer crunches Crypto Market and News data with a remarkable degree of accuracy to yield real-time Insights & Predictive Analytics about Crypto Currencies.
              Our best in-class AI-Driven Analytics help breakdown the bigger Crypto picture by analyzing the massive flow of content across a vast range of Market & News sources.
              <!--Cutting to the chase, CryptoSplicer provides In-Depth AI-Driven Market and News Analysis of the Crypto Universe. Do Crypto with a ROAR with CryptoSplicer!-->
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-widget wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a routerLink="/AllNews/Bitcoin"><i class="fa fa-chevron-right"></i>Bitcoin News</a>
            </li>
            <li>
              <a routerLink="/AllNews/Ethereum"><i class="fa fa-chevron-right"></i>Ethereum News</a>
            </li>
            <li>
              <a routerLink="/AllNews/Altcoin"><i class="fa fa-chevron-right"></i>Altcoin News</a>
            </li>
            <li>
              <a routerLink="/AllNews/Blockchain"><i class="fa fa-chevron-right"></i>Blockchain News</a>
            </li>
            <li>
              <a routerLink="/AllNews/ripple"><i class="fa fa-chevron-right"></i>Ripple News</a>
            </li>
            <li>
              <a routerLink="/AllNews/bitcash"><i class="fa fa-chevron-right"></i>BitcoinCash News</a>
            </li>
            <li>
              <a routerLink="/AllNews/bitstamp"><i class="fa fa-chevron-right"></i>Bitstamp News</a>
            </li>
            <li>
              <a routerLink="/AllNews/Coin"><i class="fa fa-chevron-right"></i>CoinMap News</a>
            </li>
            <li>
              <a routerLink="/AllNews/Crypto"><i class="fa fa-chevron-right"></i>Crypto News</a>
            </li>
            <li>
              <a routerLink="/AllNews/doge"><i class="fa fa-chevron-right"></i>Dogecoin News</a>
            </li>
            <li>
              <a routerLink="/AllNews/ico"><i class="fa fa-chevron-right"></i>ICO News</a>
            </li>
            <!--<li>-->
              <!--<a routerLink="/Event"><i class="fa fa-chevron-right"></i>Event</a>-->
            <!--</li>-->
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-widget wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <h3>Who are We?</h3>
          <ul>
            <li><a routerLink="/aboutus"><i class="fa fa-chevron-right"></i>What is CryptoSplicer?</a></li>
            <li><a routerLink="/who-are-we"><i class="fa fa-chevron-right"></i>Who Are We?</a></li>
            <li><a routerLink="/how-it-works"><i class="fa fa-chevron-right"></i>How it Works?</a></li>
            <li><a routerLink="/partnership"><i class="fa fa-chevron-right"></i>Partnership</a></li>
            <li><a routerLink="/contact"><i class="fa fa-chevron-right"></i>Establish Contact</a></li>
            <li><a routerLink="/why-cryptosplicer"><i class="fa fa-chevron-right"></i>Why CryptoSplicer?</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="footer-widget">
            <h3 class="text-left">Stalk Us</h3>
            <ul class="social-icons">
              <li>
                <a class="facebook" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                  <span>Facebook</span>
                </a>
              </li>
              <li>
                <a class="twitter" target="_blank">
                  <i class="fab fa-twitter"></i>
                  <span>Twitter</span>
                </a>
              </li>
              <li>
                <a class="google-plus" target="_blank">
                  <i class="fab fa-google-plus-g"></i>
                  <span>Google Plus</span>
                </a>
              </li>
              <li>
                <a class="linkedin" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                  <span>Linkedin</span>
                </a>
              </li>
            </ul>
            <div class="subscribe-form">
              <h4>Subscribe Now:</h4>
              <p>
                Thanks for signing up to receive the latest news, trends & prices from CryptoSplicer.
              </p>
              <div class="subscribe-form-1">
                <input type="text" placeholder="Subscribe to CryptoSplicer">
                <button type="button">Subscribe!</button>
              </div>
            </div>

            <!--<a href="#" target="_blank">-->
              <!--<img class="adroid-badge" src="assets/images/Adroid-Badge.png">-->
            <!--</a>-->
            <!--<a href="#" target="_blank">-->
              <!--<img class="ios-badge" src="assets/images/IOS-Badge.png">-->
            <!--</a>-->
          </div>

        </div>

      </div>
    </div>
  </section>

  <div id="footerhide1" class="footer-bottom">
    <div class="container">
      <span class="text-left">Copyright &copy;  2018, CryptoSplicer. All rights reserved</span>
      <span class="pull-right text-right">
        <a onclick="window.open('/terms')" >Terms & Conditions</a>
        <span class="footer_bottom_border"></span>
        <a onclick="window.open('/privacypolicy')">Privacy Policy</a>
        <span class="footer_bottom_border"></span>
        <a onclick="window.open('/intellectualproperty')" >Intellectual Property</a>
      </span>
    </div>
  </div>
</footer>

