<div class="container">
  <h1 class="component-title">About Us</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img src="../../assets/images/about-slider_01.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h3>What is <strong>CryptoSplicer?</strong></h3>
      <p class="about-text">
        AI-Powered Crypto News and Analysis: CryptoSplicer is a Deep Learning Artificial Intelligence (AI) platform engineered from the grounds up with a singular goal - Help Organizations and People gain AI-Driven Insights into the Crypto Markets.
        <br>
        With a bleeding edge AI, CryptoSplicer crunches Crypto Market and News data with a remarkable degree of accuracy to yield real-time Insights & Predictive Analytics about Crypto Currencies.
        <br>
        Our best in-class AI-Driven Analytics help breakdown the bigger Crypto picture by analyzing the massive flow of content across a vast range of Market & News sources.
        <br>
        Cutting to the chase, CryptoSplicer provides In-Depth AI-Driven Market and News Analysis of the Crypto Universe. Do Crypto with a ROAR with CryptoSplicer!
      </p>
      <div class="skills_div">
        <ul class="skills">
          <li class="skills_li">
            <h6 class="skills-title">Machine Learning</h6>
            <div class="progress">
              <div class="progress-bar" style="width:95%;">
                <div class="progress-value">95%</div>
              </div>
            </div>
          </li>
          <li class="skills_li">
            <h6 class="skills-title">Artificial Intelligence</h6>
            <div class="progress">
              <div class="progress-bar" style="width:97%;">
                <div class="progress-value">97%</div>
              </div>
            </div>
          </li>
          <li class="skills_li">
            <h6 class="skills-title">Crypto Insight</h6>
            <div class="progress">
              <div class="progress-bar" style="width:96%;">
                <div class="progress-value">96%</div>
              </div>
            </div>
          </li>
          <li class="skills_li">
            <h6 class="skills-title">Fundamentals/News Insight</h6>
            <div class="progress">
              <div class="progress-bar" style="width:91%;">
                <div class="progress-value">91%</div>
              </div>
            </div>
          </li>
          <li class="skills_li">
            <h6 class="skills-title">Market Insight</h6>
            <div class="progress">
              <div class="progress-bar" style="width:94%;">
                <div class="progress-value">94%</div>
              </div>
            </div>
          </li>
          <li class="skills_li">
            <h6 class="skills-title">Predictive Data Analytics</h6>
            <div class="progress">
              <div class="progress-bar" style="width:88%;">
                <div class="progress-value">88%</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="parallax parallax_01" data-type="background" data-speed="10">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="parallax-content">
          <h3 class="parallax-title">Trusted by Over <span>6000+</span> Students</h3>
          <div class="parallax-text">
            <p>
              CourseFrenzy offers quality and expert instructors. We provide students with counseling, teaching, demonstration and everything our students need to achieve their targets.
            </p>
          </div>
          <a class="parallax-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h3>Advantages <span>of Learning Online</span></h3>
      <p>
        The Smart Education degree is equal in academic standard to a degree from any other university. The Smart
        Educatin is subject to the same quality assurance procedures as all other universities, and uses external
        assessors and examiners to ensure quality standards. We’re consistently rated ‘excellent’ in teaching assessments.
      </p>
      <div>
        <div class="counter">
          <p class="counter_value">362</p>
          <p class="counter_title">People Working</p>
        </div>
        <div class="counter">
          <p class="counter_value">5,500</p>
          <p class="counter_title">Student Enrolled</p>
        </div>
        <div class="counter">
          <p class="counter_value">10</p>
          <p class="counter_title">Years of Experience</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img src="../../assets/images/about_img_01.jpg" alt="">
    </div>
  </div>
</div>
