<section class="partnership padding-top-1 padding-bottom-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-7 col-md-offset-6 col-xs-12 col-sm-12 col-md-12 col-lg-6">

        <h1>Become a Partner</h1>
        <p class="lead">Transform your collaborative dimension to a whole new level.</p>

        <form #f="ngForm" id="partnerform" name="partnerform" method="post">

          <mat-form-field>
            <input matInput placeholder="Enter Your Name" autocomplete="off" [formControl]="usernameFormControl" [(ngModel)]="model.name" required>
            <mat-error *ngIf="usernameFormControl.hasError('pattern')">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Enter Your Email" autocomplete="off" [formControl]="emailFormControl" [(ngModel)]="model.email" required>
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Enter Institution Name" autocomplete="off" [formControl]="companyFormControl" [(ngModel)]="model.company" required>
            <mat-error *ngIf="companyFormControl.hasError('pattern')">
              Please Enter valid institution name
            </mat-error>
            <mat-error *ngIf="companyFormControl.hasError('required')">
              Institution Name <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
              <textarea matInput #message1 maxlength="500" style="height: 200px;" placeholder="How can we partner?" [required]="message"  name="message" [(ngModel)]="model.message"
                        #message="ngModel" required pattern="[a-zA-Z0-9 _.!-]+?" rows="3"> </textarea>
            <mat-hint align="start"><strong>Write your questions and suggestions</strong> </mat-hint>
            <mat-hint align="end">{{message1.value.length}} / 256</mat-hint>
            <mat-error *ngIf="message.hasError('required')">
              Message is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="message.hasError('pattern')">
              Please enter a <strong> valid </strong> message
            </mat-error>
          </mat-form-field>
          <!--<re-captcha site_key="6LfYTT8UAAAAAJWyXErDzjumA4foNFwIXNlxlfM6"></re-captcha>-->
          <div class="partnership_button">
            <button type="submit" value="SEND" id="submit" class="partnership_btn" (click)="onSubmit()">Send Message</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
