<div class="container padding-top1">
  <div class="contact_us_title">
    <h1>Establish Contact</h1>
    <p class="lead">
      We'll try our best to answer your queries as soon as possible.
    </p>
    <hr>
  </div>
  <form>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contact_us_form_1">

        <mat-form-field>
          <input matInput placeholder="Enter Your Name" name="username" [(ngModel)]="model.username" required>
          <!-- <mat-error *ngIf="usernameFormControl.hasError('pattern')">
            Please enter a valid name
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Enter Your Email" type="text" name="email" required>-->
        <!--</mat-form-field>-->

        <mat-form-field>
          <input matInput placeholder="Enter Your Email" autocomplete="off" name="email" [(ngModel)]="model.email" required>
          <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter Your Phone Number" autocomplete="off" name="phone_no" [(ngModel)]="model.phone_no" required>
          <!-- <mat-error *ngIf="phoneFormControl.hasError('pattern')">
            Please enter a valid phone number
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Phone No is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter Your Subject" autocomplete="off" name="subject" [(ngModel)]="model.subject" required>
          <!-- <mat-error *ngIf="subjectFormControl.hasError('pattern')">
            Please enter a valid Subject
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Subject is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Enter Your Message" name="message" name="message" [(ngModel)]="model.message" required></textarea>
        </mat-form-field>

        <button type="submit" class="contact_us_btn" (click)="contact()" >Send Message</button>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <address class="contact-us-address">
          <h1 class="text-center">Headquarters</h1>
          <p><i class="fa fa-home"></i>5050 Quorum Drive Suite 700 Dallas, TX 75254</p>
          <h1 class="text-center">Establish Contact Us</h1>
          <ul class="contact-us-ul">
            <li><a href="#"><i class="fas fa-envelope"></i>Email: BrainPlow@gmail.com</a></li>
            <li><i class="fa fa-phone "></i> Voice: +1 (888) 764-0100</li>
            <li><i class="fa fa-fax"></i> Fax: +1 (469) 250-6600</li>
          </ul>
        </address>
      </div>
    </div>
  </form>
  <div class="row contact_us_map">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
      <iframe src="https://www.google.com/maps/embed?pb=!4v1523356554353!6m8!1m7!1s78DrJ909_RySv4UWCqK4Mw!2m2!1d32.94860641002237!2d-96.82434888188871!3f162.1575!4f0!5f0.7820865974627469" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 mb-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6809.967716364352!2d73.09705295019982!3d31.41457081327901!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1519119144377" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
