<app-loader></app-loader>
<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<div style="display: block;">-->
      <!--<canvas baseChart width="500" height="500"-->
              <!--[datasets]="lineChartData"-->
              <!--[labels]="lineChartLabels"-->
              <!--[options]="lineChartOptions"-->
              <!--[colors]="lineChartColors"-->
              <!--[legend]="lineChartLegend"-->
              <!--[chartType]="lineChartType"-->
              <!--(chartHover)="chartHovered($event)"-->
              <!--(chartClick)="chartClicked($event)"></canvas>-->
    <!--</div>-->
    <!--<div class="btcwdgt-chart"></div>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="my-5">
    <div id="myWidgetContainer"></div>
  </div>
</div>
