<div class="how-it-works">
  <div class="container">
    <h1>How it Works?</h1>
    <p>
      ChoiceGenie is a next generation Artificially Intelligent Marketplace where consumers can search and compare Energy Products for a Super-Fast Ultra-Cool Comparative Shopping experience.Energy Products/Plans can be Bid, Sold & Bought on ChoiceGenie through a Simple, Fast n’ Easy App on Web & Mobile that can save consumers Hundreds of Dollars on average per year!
    </p>
  </div>
</div>

<div class="text-center how-it-works-boxs">
  <div class="container">
    <h1 class="component-title">How it works for Students?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-pencil"></span>
          <h3>1. Signup on CryptoSplicer</h3>
          <p>
            Signup on CryptoSplicer is super easy and takes less than a few minutes on Web or Mobile: Download our next generation Artificially Intelligent App on Google Play Store or Apple App Store.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-book"></span>
          <h3>2. 	Browse Online Course Library</h3>
          <p>
            With Price Comparison to Reviews Aggregation/Crunching and a Custom CryptoSplicer Score of every Seller, Buyer and Product, find the desired educational material for you: The right ones!
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-ok"></span>
          <h3>3. BID, BUY or RENT</h3>
          <p>
            BID on Books, Notes, Flash Cards, Courses & a whole lot more through a true Auction Experience OR simply RENT/BUY them. It’s that simple!
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-ok"></span>
          <h3>4. Give your Learning Wings</h3>
          <p>
            Take your learning to a whole new level with CryptoSplicer’s Ultra-Cool, Super- Fast Web & Mobile App Experience.
          </p>
        </div>
      </div>
    </div>

    <h1 class="component-title">How it works for Tutors?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-list-alt"></span>
          <h3>1. Signup on CryptoSplicer</h3>
          <p>
            Tutors Signup on CryptoSplicer is a breeze on Web or Mobile: Download our next generation Artificially Intelligent App on Google Play Store or Apple App Store.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-list"></span>
          <h3>2. Post your Material</h3>
          <p>
            Post Courses, Books, Notes, Flash Cards & a whole lot more on CryptoSplicer and showcase your expertise.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h3>3. Set Preferences: AUCTION, SELL or RENT</h3>
          <p>
            Set your Educational Material through Auction Style Bidding, Straight Sale OR just Rent it out: Maximize your Sales.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box">
          <span class="glyphicon glyphicon-usd"></span>
          <h3>4. Earn Money</h3>
          <p>
            CryptoSplicer gives your Product Sales Wings: Cash out on your area of educational expertise!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
