<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h2 class="about-title wow bounceInLeft"><strong>Who are we?</strong></h2>
      <p class="about-text wow bounceIn">
        We, the engineers at CryptoSplicer have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring Organizations and People next-generation Insight, Crypto News, Trends, Prices & Technical Analysis of the Crypto Universe = BTW, we are very proud of our work!
        <br>
        We believe that it’s high time that subjective and traditional approaches for Crypto News & Analysis are replaced with next-generation AI-driven News Aggregation, Analytics & Predictions.
        <br>
        We built a bleeding edge proprietary AI platform to provide easy n’ intuitive solutions for Crypto News, Trends, Prices and Fundamental Analysis.
        <br>
        From Fundamentals Insight to Sentiment Analysis to Competitive/Trend Analysis to AI-Driven Predictive AI Analytics & a whole lot more, CryptoSplicer provides Incredibly Smart Insights and Predictive Crypto Analytics for a Smarter Crypto experience.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img class="Who-are-we-img wow bounceInDown" src="../../assets/images/who-are-we.jpg"  alt="who-are-we">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img class="Who-are-we-img wow bounceInUp" alt="" src="../../assets/images/what-is-it.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h2 class="about-title wow bounceInRight">What is <strong>CryptoSplicer?</strong></h2>
      <p class="about-text wow bounceIn">
        AI-Powered Crypto News and Analysis: CryptoSplicer is a Deep Learning Artificial Intelligence (AI) platform engineered from the grounds up with a singular goal - Help Organizations and People gain AI-Driven Insights into the Crypto Markets.
        <br>
        With a bleeding edge AI, CryptoSplicer crunches Crypto Market and News data with a remarkable degree of accuracy to yield real-time Insights & Predictive Analytics about Crypto Currencies.
        <br>
        Our best in-class AI-Driven Analytics help breakdown the bigger Crypto picture by analyzing the massive flow of content across a vast range of Market & News sources.
        <br>
        Cutting to the chase, CryptoSplicer provides In-Depth AI-Driven Market and News Analysis of the Crypto Universe. Do Crypto with a ROAR with CryptoSplicer!
      </p>
    </div>
  </div>
</section>

<section class="who-are-we">
  <h1 class="wow shake">Our Mission</h1>
  <p class="wow jello">
    We have over 100+ years of combined experience in the High Tech Universe – In both Hardware and Software domains. We incubate, accelerate and brood In-House and Community Products in Machine Learning/Artificial Intelligence & iOT technologies. We are strong believers in next-generation automation and efficiency by harnessing the power of Machine Learning: We see Artificial Intelligence (AI) as a revolutionary toolbox that, will allow us to empower organizations and people to make life simpler n’ easier.
  </p>
</section>
