<div id="wrapper">
  <section class="section bgw" style="padding-top: 40px;">
    <div class="container terms-wrapper">
      <div class="section-title-2 text-center">
        <h1>CryptoSplicer Privacy Policy</h1>
        <!--<h3>This Privacy Policy was last updated on January 23, 2018.</h3>-->
        <hr>
      </div><!-- end section-title -->

      <h1>Introduction</h1>
      <h4>This privacy policy ties us and you together in an argument. These clauses are put forward concerning your usage of CryptoSplicer website
        and applications. You are bound by these clauses after you sign up for CryptoSplicer.
        Disagreeing to this policy simply means that you cannot avail our services.</h4>
      <h2>IMPORTANT NOTE:</h2>
      <h4>If you agree to the clauses of this privacy policy, you agree to settle any clashes outside court. You are thoroughly aware that
        you cannot take any dispute to court. All negotiations are to be made by CryptoSplicer and you.  </h4>

      <h1>Clauses in CryptoSplicer Privacy Policy:</h1>
      <ol>
        <li>Personal information</li>
        <li>Information protection</li>
        <li>Cookies</li>
        <li>Third party links </li>
        <li>Disclosure of third party</li>
        <li>Under CalOPPA (California Online Privacy Protection Act)</li>
        <li>Age limit</li>
        <li>FTC’s Fair information practice</li>
        <li>Bidding</li>
        <li> Contact information</li>
      </ol>

      <h1>1. Personal information</h1>
      <h2>What Personal information is collected?</h2>
      <h4>In a normal case CryptoSlicer "Site" is not collecting any personally identifiable information. However there are some cases where CryptoSlicer might need visitor's email address in order to perform a service (ex. Newsletter, Submit a story, Contact form etc.). In such cases email address will be explicitly requested and visitor notified. Once collected these emails are used for the sole purpose of the function intended by visitor. They will not be passed to any third party. </h4>
      <h2>When is the information collected? </h2>
      <h4>When a student registers on our site he is only asked to give his name and email.
        Afterwards for transfer of money he is to provide his credit card information. It is mandatory for the instructor to provide name,
        email and credit card information for money transactions.  </h4>
      <h2>Why this information is collected? </h2>
      <h4>This information is collected to: </h4>
      <ul>
      <li> Personalize user’s experience </li>
      <li> Improve customer service</li>
      <li> Administer contests, surveys and promotions</li>
      <li> Process transactions</li>
      <li> Reviews </li>
      <li> Follow ups </li>
      <li> Periodic emails</li>
      </ul>



      <h1>2. Information protection</h1>
      <ul>
        <li> <h4> Our website is PCI compliant. </h4> </li>
        <li> <h4> Malware scans take place in our website regularly. </h4> </li>
        <li> <h4> Also, our website is SSL certified. </h4>
          <p>We implement security measures when a student/instructor enters, submits or accesses information at our site.</p>
        </li>
        <li> <h4> Is your information stored? </h4>
          <p>Your information is stored in our systems for more than 60 days. It can be authorized with access rights.</p>
        </li>
      </ul>


      <h1>3. Cookies?</h1>
      <h4>We use cookies to:</h4>
      <ul>
        <li> <h4> Help remember and process your number of courses. </h4> </li>
        <li> <h4> Understand and save user’s preferences for future visits. </h4> </li>
        <li> <h4> Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. </h4>
        </li>
        <li> <h4> We may also use trusted third-party services that track this information on our behalf. </h4> </li>
      </ul>
        <button class="btn btn-primary">Disable Cookies</button>
      <h3>It will turn off some of the features of the site.</h3>


      <h1>4. Third party links </h1>
      <h4>We do not include or offer third-party products or services on our website.</h4>


      <h1>5. Disclosure of third party </h1>
      <h4>Wetransfer Personal Information to outside parties for money transactions. We do not sell, trade, or otherwise transfer to outside
        parties’ personal information. We provide students with notice that their credit card details are to be disclosed. These details are given
        to money transfer companies like PayPal etcetera. </h4>
      <h4>However, this does not include website hosting partners and other parties who assist us in operating our website, conducting our business,
        or serving our users, so long as those parties agree to keep the student/instructor’s information confidential. We may also release
        information when its release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property
        or safety.</h4>


      <h1>6. UnderCalOPPA (California Online Privacy Protection Act)</h1>
      <h4>Our website is in complaint with CalOPPA. Under CalOPPA:</h4>
      <ul>
        <li> Users can visit our site anonymously. </li>
        <li> Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website.</li>
        <li> Our Privacy Policy link includes the word "Privacy" and can easily be found on the page specified above.</li>
        <li> Users will be notified of any privacy policy changes.</li>
        <li> Users are able to update their personal information. </li>
      </ul>


      <h1>7. Age limit</h1>
      <h4>There is no age limit for students on this platform. Instructors are judged on their experience and intellect. At CourseFrenzy age is just a number.</h4>


      <h1>8. FTC’s Fair information practice</h1>
      <h3>What does the site do when data is breached? </h3>
      <h4>Fair Information Practices is to have an action plan for notifying your users, if a data breach occurs. <br>
        In case of data breach we take a responsive action i.e. notify the user via email within 7 business days
      </h4>


      <h1>9. Bidding</h1>
      <h3> How it works?</h3>
      <h4>This is our unique feature. Instructors put up courses for auction. Students are to place bids on the course of their interest.
        The one with the highest bid shall get the course.</h4>
      <h3> Maximum/minimum number of bids</h3>
      <h4>Unlimited bids can be made by one student. Unlimited courses can be put up by instructors.</h4>
      <h3> Time limit</h3>
      <h4>The instructor shall specify the ending time of bidding. Time limit of bidding on a course may vary from instructor to instructor.</h4>
      <h3> Commitment</h3>
      <h4>Once you’ve placed your bid and won, you cannot withdraw from the course.</h4>


      <h1>10. Contact information</h1>
      <h4>5050 Quorum Drive, Suite 700 Dallas, TX 75254 <br>
        Voice:  +1-888-764-0100 <br>
        Fax:     +1-469-250-6600
      </h4>
      <h3>Our contact information can also be found:</h3>
      <ul>
        <li> <a [routerLink]="['/contact']"> On Contact page </a></li>
        <li> <a [routerLink]="['/terms']"> On our terms and conditions page </a></li>
      </ul>

    </div>
  </section>
</div>
