<div id="wrapper">
  <section class="section bgw" style="padding-top: 40px;">
    <div class="container terms-wrapper">
      <div class="section-title-2 text-center">
        <h1> CourseFrenzy Intellectual Property Policy</h1>
        <!--<h3>These Terms and Conditions were last updated on January 24, 2018.</h3>-->
        <hr>
      </div><!-- end section-title -->
      <h1> Introduction</h1>
      <h4>
        CourseFrenzy is a technology platform that enables anyone anywhere to create and share educational courses. We host more than 50,000 courses on our online learning marketplace. Our marketplace model means we do not review or edit the courses for legal issues, and we are not in a position to determine the legality of course content. However, it is important to us that instructors posting courses on CourseFrenzy respect the intellectual property of others. When instructors post courses on our marketplace, they make the promise that they have the necessary authorization or rights to use all the content contained in their courses.
      </h4>
      <h4>
        Infringing activity is not tolerated on or through our platform.
      </h4>
      <h4>
        This policy addresses what we do in the event of copyright infringement reports from content owners and trademark infringement claims from trademark owners with respect to the courses on the CourseFrenzy platform. The policy also addresses what we do when CourseFrenzy instructors’ courses are copied on third-party platforms without their consent.
      </h4>

      <h2>Third-Party Copyright Infringement Reports</h2>
      <h4>
        CourseFrenzy’s policy is to remove courses from our service when they are reported as infringing in a copyright infringement notice received from the owner of the original content. It is also our policy to remove all courses from any instructor who is determined to be a repeat infringer (for whom CourseFrenzy has received more than two valid takedown notices). We reserve the right to terminate an instructor’s account at any time, including when they post content in violation of the copyrights of others.
      </h4>

      <h2>How to File a Report</h2>
      <h4>
        If you would like to report a course on the CourseFrenzy marketplace and if you are the owner or the designated agent of the owner of the rights to the content that you believe the course is infringing, the most efficient way is to use this form (form in English only).
        Before you submit a copyright infringement report, please remember these important things:
      </h4>
      <h4>
        <b>  1. We cannot process a copyright claim that is not submitted by the owner of the copyright or its designated agent. </b>
        This is because we have no way of knowing whether the instructor who published the course you are reporting has received proper permission from the owner to use the content. We will ask you to provide an electronic signature to confirm that you are the copyright owner or have authority to represent the copyright owner (including if the copyright owner is an organization).
      </h4>
      <h4>
        <b> 2.	Your copyright claim has to be sufficiently substantiated for us be able to address it.</b>
        This means:
      </h4>
      <ul>
        <li>
          You provide sufficient information for us to contact you, including your full legal name, an email address, physical address, and (optional) telephone number.
        </li>
        <li>
          If you are filing a report on behalf of an organization, you include the name of the organization and your relationship to the organization.
        </li>
        <li>
          You precisely identify the original copyrighted material or, if multiple copyrighted works are covered in your notification, you provide a sufficiently representative list of such original material (such as a URL where the material is located).
        </li>
        <li>
          You provide sufficient information for us to locate the reportedly infringing course(s) on the CourseFrenzy site (the URL on our website and the exact name of the course and instructor.
        </li>
        <li>
          You add a statement saying: “I declare, under penalty of perjury, that the information in this complaint is accurate and that I am the copyright owner or am authorized to act on the copyright owner's behalf and I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law”.
        </li>
      </ul>

      <h4>
        <b> 3. Knowingly submitting a false or misleading claim of infringement is illegal and you could be held liable and have to pay damages as a result.
      </b>
        CourseFrenzy reserves the right to seek damages from anyone who submits a notification of claimed infringement in violation of the law.
      </h4>

      <h4>
        <b> 4. There are types of content that are not protected by copyright.
      </b>
        Copyright law doesn’t cover short phrases (like business names, book titles, and slogans), intangible concepts (like processes, ideas, and recipes), or facts. Before you submit a copyright claim, make sure that the content copied in the course is indeed protected by copyright. If you need to report a trademark violation, please follow the steps here.
      </h4>

      <h4>
        <b> 5. Consider whether the use of your material in the course is “fair use”.
      </b>
        Copyright law includes a “fair use” exception for certain uses of copyrighted content that are considered to be in the public interest. Fair use covers things like criticism, commentary, news reporting, and research. In considering whether a course’s use of your material qualifies as fair use, you should look at:
      </h4>

      <ul>
        <li>
          The purpose of the use (whether the course is paid or unpaid, whether the course critiques/parodies/transforms your material).
        </li>
        <li>
          The type of copyrighted work being used (whether your work is factual or creative).
        </li>
        <li>
          The portion being used (whether the course uses small, necessary excerpts of your material or substantial portions of it).
        </li>
        <li>
          The effect on the market for your material (whether potential buyers would purchase the course instead of your material).
        </li>
      </ul>

      <h4>
        Before you submit a copyright claim, make sure that use of the content copied in the course does not qualify as fair use.
      </h4>

      <h2>Counter-Notification</h2>
      <h4>
        If we receive a valid copyright violation report, we will send a copy of that report to the instructor who posted the reported course along with a notification that 1) the course was reported for copyright infringement and 2) we are removing the course from the CourseFrenzy service. We will also attach a form that the instructor can fill in and send back to us to submit a counter-notification. If your course has been reported for copyright infringement and removed from the CourseFrenzy service, and if you believe we made a mistake or that you have permission from the owner of the reported content to use such content in your course, then you may send us a counter-notification.
        <br>
        The best way to provide us with a counter-notification is to fill in the form we provided you and send it back to the CourseFrenzy designated agent or the copyright team member who notified you. To be effective, a counter notification must be in writing and include the following information:
      </h4>

      <ul>
        <li>
          Your physical or electronic signature.
        </li>
        <li>
          Your name, address, and email address or telephone number.
        </li>
        <li>
          Identification of the course that was removed and the location (URL) at which it appeared before it was removed (you can access this information from the copyright infringement report filed against your course, we always attach a copy when we notify you).
        </li>
        <li>
          A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.
        </li>
        <li>
          A statement that you consent to (i) CourseFrenzy sharing your name and contact information with the claimant; (ii) receiving service of process for any legal action by the claimant or an agent of the claimant and (ii) accepting the jurisdiction of the federal district court for the judicial district in which you reside (if in the U.S.), or if you reside outside of the U.S., the jurisdiction of the United States District Court for the Northern District of California).
        </li>
      </ul>

      <h4>
        <b>Knowingly submitting a false or misleading counter-notification to a claim of infringement is illegal and you could be held liable and have to pay damages as a result. </b>
        CourseFrenzy reserves the right to seek damages from any party that submits a counter-notification of claimed infringement or counter notification in violation of the law.
        <br>
        Reports from Instructors of Infringing Content on Other Platforms
        <br>
        If you find that your course contents are present on some other sources then immediately inform CourseFrenzy team.
        <br>
        Third-Party Trademark Infringement Reports
        <br>
        CourseFrenzy’s policy is to remove courses from our service when they are reported as infringing a third-party trademark. We also reserve the right to terminate an instructor’s account at any time, including when they post content in violation of the trademark rights of others.
        <br>
        How to Submit a Trademark Infringement Report
        <br>
        The fastest and easiest way to submit a report of trademark infringement to us is to send a notice to the Designated Agent containing the information identified below. Please note that a copy of your notice will be sent to the party who posted the content you are reporting. Before you submit a trademark infringement report, please remember these important things:
        <br>
        <b> 1. Your trademark claim has to be sufficiently substantiated for us be able to address it. </b> This means your communication must include substantially the following:
      </h4>


      <ul>
        <li>
          Your complete contact information (full name, mailing address, and email or phone number).
        </li>
        <li>
          The specific word, symbol, etc. for which you claim trademark rights.
        </li>
        <li>
          The basis for your claim of trademark rights (such as a national or community registration), including registration number, if applicable.
        </li>
        <li>
          The country or jurisdiction in which you claim trademark rights.
        </li>
        <li>
          The category of goods and/or services for which you assert rights.
        </li>
        <li>
          Sufficient information for us to locate the material on CourseFrenzy that you believe violates your trademark rights (web addresses/URLs of the allegedly infringing content).
        </li>
        <li>
          A description of how you believe this content infringes your trademark.
        </li>
        <li>
          If you are not the rights holder, an explanation of your relationship to the rights holder.
        </li>
        <li>
          The following statement: “I have a good faith belief that use of the trademark as described above in the manner complained of is not authorized by the trademark owner, its agent, or the law.”
        </li>
        <li>
          The following statement: "The information in this notice is accurate, and I declare, under penalty of perjury, that I am the owner or authorized to act on behalf of the owner of a trademark that is allegedly infringed."
        </li>
        <li>
          Your electronic signature ("/s/" followed by your full name, e.g., "/s/ Jane Doe") or physical signature.
        </li>
      </ul>


      <h4>
        <b>
          2. Submitting a false or misleading claim of infringement could result in liability for you.
        </b> CourseFrenzy reserves the right to seek damages from any party that submits a false or misleading notification of trademark infringement.
        <b>
          3. Consider whether the use of your trademark in the course is “nominative fair use”.
        </b>
        Trademark law protects the use of a name or brand for selling products and services, with the goal of preventing consumer confusion. Most countries’ laws include an exception for “fair use”, which allows others to use a trademark for factually referencing the trademarked product or service, or commenting on or criticizing the mark. Consider the likelihood that others would be confused into thinking that your company or brand had created or is sponsoring the course. Before you submit a trademark claim, make sure that use of your trademark in the course does not qualify as fair use.
        <br>
        Designated Agent Contact Information
        <br>
        CourseFrenzy’s Designated Agent for notices of reported infringement can be contacted in the following manner:
      </h4>

      <ul>
        <li>
          By filling the copyright report form (for copyright infringement reports only).
        </li>
        <li>
          Via E-mail: contact AT CourseFrenzy DOT com
        </li>
        <li>
          Via U.S. Mail: 5050 Quorum Drive, Suite 700
          <br>
          Dallas, TX 75254
        </li>
      </ul>
    </div>
  </section>
</div>
