<app-loader></app-loader>
<div class="all-silder">
  <div id="mainpage-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">

    <!--download store icons-->
    <!--<div class="download-here">-->
      <!--<a href="#">-->
        <!--<img src="../../assets/images/Adroid-Badge.png">-->
      <!--</a>-->
      <!--<a href="#">-->
        <!--<img src="../../assets/images/IOS-Badge.png">-->
      <!--</a>-->
    <!--</div>-->

    <!--Indicators-->
    <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#mainpage-slider" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="1"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="2"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="3"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="4"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="5"></li>-->
      <!--<li data-target="#mainpage-slider" data-slide-to="6"></li>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <label class="slider__title animated fadeInDown">
          <!--From Fundamentals Insight to Sentiment Analysis to Competitive/Trend Analysis to AI-Driven Predictive AI Analytics & a whole lot more, CryptoSplicer provides Incredibly Smart Insights and Predictive Crypto Analytics for a Smarter Crypto experience.-->
          CryptoSplicer is a Deep Learning Artificial Intelligence (AI) platform engineered from the grounds up with a singular goal: Help Organizations and People gain Deep Insights into the Crypto Markets.
        </label>
        <img class="animated fadeIn" src="../../assets/images/slider-1.jpg" alt="" />
      </div>

      <div class="item">
        <label class="slider__title animated fadeInUp">
          <!--CryptoSplicer is a Deep Learning Artificial Intelligence (AI) platform engineered from the grounds up with a singular goal: Help Organizations and People gain Deep Insights into the Crypto Markets.-->
          From Fundamentals Insight to Sentiment Analysis to Competitive/Trend Analysis to AI-Driven Predictive AI Analytics & a whole lot more, CryptoSplicer provides Incredibly Smart Insights and Predictive Crypto Analytics for a Smarter Crypto experience.
        </label>
        <img class="animated fadeIn" src="../../assets/images/slider-2.jpg" alt="" />
      </div>

      <div class="item">
        <label class="slider__title animated fadeInDown">
          <!--CryptoSplicer crunches News Data (Fundamentals) with a remarkable degree of accuracy to yield Real-Time & Predictive Analytics of Crypto Currencies.-->
          CryptoSplicer crunches News Data (Fundamentals) with a remarkable degree of accuracy to yield Real-Time & Predictive Analytics of Crypto Currencies.
        </label>
        <img class="animated fadeIn" src="../../assets/images/slider-3.jpg" alt="" />
      </div>

      <div class="item">
        <label class="slider__title animated fadeInDown">
          <!--Experience our next generation Artificially Intelligent Auction Marketplace MobileApp on Google Play Store and Apple App Store-->
          CryptoSplicer aggregates and crunches from a wide range of Crypto Markets & News Sources to present a 360-degree picture of the Crypto Universe.
        </label>
        <img class="animated fadeIn" src="../../assets/images/slider-5.jpg" alt="" />
      </div>

      <div class="item">
        <label class="slider__title animated fadeInDown">
          <!--CryptoSplicer aggregates and crunches from a wide range of Crypto Markets & News Sources to present a 360-degree picture of the Crypto Universe.-->
          Give your Crypto Wings! Propel your Crypto Brand to a whole new dimension: Advertise with CryptoSplicer today!
        </label>
        <img class="animated fadeIn" src="../../assets/images/ethereum-3.jpg" alt="" />
      </div>

      <div class="item">
        <label class="slider__title animated fadeInDown">
          <!--Give your Crypto Wings! Propel your Crypto Brand to a whole new dimension: Advertise with CryptoSplicer today.-->
          Let the Facts do the Talking with our Bleeding Edge Crypto Analysis AI.
        </label>
        <img class="animated fadeIn" src="../../assets/images/slider-7.jpeg" alt="" />
      </div>

      <!--<div class="item">-->
        <!--<label class="slider__title animated fadeInDown">-->
          <!--Let the Facts do the Talking with our Bleeding Edge Crypto Analysis AI”-->
        <!--</label>-->
        <!--<img class="animated fadeIn" src="../../assets/images/7.jpg" alt="" />-->
      <!--</div>-->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#mainpage-slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainpage-slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="main-nav-slider">
    <form class="search-bg">
      <input class="search-bg__text" type="text" name="search-bg-name" placeholder="Would you like for search Cryptosplicer?">
      <a class="search-bg__btn" type="button">Search</a>
    </form>

    <div class="homeSlider">

      <div class="item">
        <div class="item-inner" >
          <a routerLink="/bitcoins">
            <img src="../../assets/images/bitcoin-2.jpg" alt="">
            <h4 class="homesilder-title">Bitcoin</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/atherium">
            <img src="../../assets/images/ethereum-3.jpg" alt="">
            <h4 class="homesilder-title">Ethereum</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/litecoins">
            <img src="../../assets/images/litecoin-1.jpg" alt="">
            <h4 class="homesilder-title">Litecoin</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/ripple">
            <img src="../../assets/images/ripple-1.jpg" alt="">
            <h4 class="homesilder-title">Ripplecoin</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/bitstamp">
            <img src="../../assets/images/bitstamp-1.jpg" alt="">
            <h4 class="homesilder-title">Bitstamp</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/bitstamp">
            <img src="../../assets/images/bitcoincash-3.png" alt="">
            <h4 class="homesilder-title">Bitcoin Cash</h4>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="item-inner">
          <a routerLink="/bitstamp">
            <img src="../../assets/images/dogecoin-1.jpg" alt="">
            <h4 class="homesilder-title">Dogecoin</h4>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container">

  <div class="buy-sell-blocks">

    <h1>CryptoCurrency Price</h1>

    <div class="buy-sell-blocks-1">

      <div class="buy-sell-block">

        <img class="buy-sell-img" src="../../assets/images/bitcoin.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            Bitcoin {{BTC_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{BTC_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

      <div class="buy-sell-block" >

        <img class="buy-sell-img" src="../../assets/images/ethereum-2.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            Ethereum {{ETH_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{ETH_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

      <div class="buy-sell-block">

        <img class="buy-sell-img" src="../../assets/images/bitcoincash-1.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            Bitcoin Cash {{BCH_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{BCH_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

      <div class="buy-sell-block">

        <img class="buy-sell-img" src="../../assets/images/litecoin.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            Litcoin {{LTC_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{LTC_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

      <div class="buy-sell-block">

        <img class="buy-sell-img" src="../../assets/images/dashcoin.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            Dashcoin {{LTC_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{DASH_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

      <div class="buy-sell-block">

        <img class="buy-sell-img" src="../../assets/images/zcash.png">

        <div class="buy-sell-detial">

          <div class="buy-sell-heading">
            ZCASH {{ZCASH_USD.base}}
          </div>

          <div class="buy-sell-price">
            {{ZCASH_USD.price | currency:'USD'}}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="container coinnews mb-5">

  <h1 class="component-title component-title-border">Latest News</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="coinnews-slider-latest">
        <div class="coinnews-item" *ngFor="let RES of result1; let i = index">

          <div class="coinnews-blog">

            <a href="{{RES.news_url}}" target="_blank">
              <img src="{{RES.image}}" class="coinnews-blog-image">
            </a>

            <div class="coinnews-box">

              <div class="coinnews-date"> {{RES.date}} </div>

              <div class="coinnews-img">
                <a href="{{RES.news_url}}" target="_blank">
                  <img src="{{RES.logo}}" alt="Coin New">
                </a>
              </div>

              <div class="coinnewa-heading">
                <a  href="{{RES.news_url}}" target="_blank">
                  <div class="coinnewa-heading-1">
                    {{RES.title}}
                  </div>
                </a>
              </div>

              <div class="coinnews-cate">
                {{RES.category}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="component-title component-title-border">Featured News</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="coinnews-slider-feature" >
        <div class="coinnews-item" *ngFor="let RS of result3; let i = index">

          <div class="coinnews-blog">

            <a href="{{RS.news_url}}" target="_blank">
              <img src="{{RS.image}}" class="coinnews-blog-image">
            </a>

            <div class="coinnews-box">

              <div class="coinnews-date"> {{RS.date}} </div>

              <div class="coinnews-img">
                <a href="{{RS.news_url}}" target="_blank">
                  <img src="{{RS.logo}}" alt="Coin New">
                </a>
              </div>

              <div class="coinnewa-heading">
                <a href="{{RS.news_url}}" target="_blank">
                  {{RS.title}}
                </a>
              </div>

              <div class="coinnews-cate">
                {{RS.category}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="component-title component-title-border">Reader's Choice</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="coinnews-slider-readers">
        <div class="coinnews-item" *ngFor="let RE of result2; let i = index">

          <div class="coinnews-blog">

            <a href="{{RE.news_url}}" target="_blank">
              <img src="{{RE.image}}" class="coinnews-blog-image">
            </a>

            <div class="coinnews-box">

              <!--<div class="coinnews-date"> {{RE.date}} </div>-->

              <!--<div class="coinnews-img">-->
                <!--<a href="{{RE.news_url}}" target="_blank">-->
                  <!--<img src="{{RE.logo}}" alt="Coin New">-->
                <!--</a>-->
              <!--</div>-->

              <div class="coinnewa-heading">
                <a href="{{RE.news_url}}" target="_blank">
                  {{RE.title}}
                </a>
              </div>

              <div class="coinnews-cate">
                {{RE.category}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="component-title component-title-border">Other News</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="coinnews-slider-other" >
        <div class="coinnews-item" *ngFor="let data of result; let i = index">

          <div class="coinnews-blog">

            <a href="{{data.news_url}}" target="_blank">
              <img src="{{data.image}}" class="coinnews-blog-image">
            </a>

            <div class="coinnews-box">

              <div class="coinnews-date"> {{data.date}} </div>

              <div class="coinnews-img">
                <a href="{{data.news_url}}" target="_blank">
                  <img src="{{data.logo}}" alt="Coin New">
                </a>
              </div>

              <div class="coinnewa-heading">
                <a href="{{data.news_url}}" target="_blank">
                  {{data.title}}
                </a>
              </div>

              <div class="coinnews-cate">
                {{data.category}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
