<section>
  <div class="main-advertise-img padding-bottom-1 padding-top-1">
    <div class="container">
      <div class="main-advertise">

        <div class="advertise-heading">
          Advertise on CryptoSplicer.com
        </div>

        <div class="advertise-heading-2">
          Introduce Your Product To Cryptocurrency Enthusiasts
        </div>

        <a routerLink="/contact" class="btn-02">Contact Us</a>

      </div>
    </div>
  </div>
</section>

<div class="adveretise-oppo container">

  <div class="adveretise-oppo-heading-1">ADVERTISING OPPORTUNITIES</div>

  <div class="adveretise-oppo-heading-2">We can bring you traffic, customers and trust</div>

  <form class="adveretise-oppo-form">

    <input type="text" placeholder="Name" class="adveretise-oppo-form-input">

    <input type="text" placeholder="Email" class="adveretise-oppo-form-input">

    <input type="text" placeholder="Company website" class="adveretise-oppo-form-input">

    <button class="btn-02 my-3">Advertise with us</button>

  </form>

</div>

<section class="cry-adv">
  <div class="container">
    <div class="cry-adv-heading">CryptoSplicer Advertising</div>
    <ul class="cry-adv-blocks">

      <li class="cry-adv-block">
        <div class="cry-adv-block__title">
          Native advertising
        </div>
        <div class="cry-adv-block__description">
          Highly-targeted and intuitive native advertising will bring you the customers who really need your service.
        </div>
      </li>

      <li class="cry-adv-block">
        <div class="cry-adv-block__title">
          Banners
        </div>
        <div class="cry-adv-block__description">
          With your banners on top crypto-related websites, you will get all the relevant traffic and brand awareness
        </div>
      </li>

      <li class="cry-adv-block">
        <div class="cry-adv-block__title">
          Article creation and placement
        </div>
        <div class="cry-adv-block__description">
          Articles bring trust to your business. We create high-quality content and place it on the top resources in the Blockchain and crypto industry.
        </div>
      </li>

      <li class="cry-adv-block">
        <div class="cry-adv-block__title">
          Creative Marketing Campaigns
        </div>
        <div class="cry-adv-block__description">
          Need something special? You’re in the right place. We can organise creative contests, viral video production, SMM and much more.
        </div>
      </li>

      <li class="cry-adv-block">
        <div class="cry-adv-block__title">
          SMM
        </div>
        <div class="cry-adv-block__description">
          Approach customers through social networks. We know how to develop an efficient social media strategy which will reel in your target audience.
        </div>
      </li>

    </ul>

  </div>
</section>
